{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered has-text-centered">
                <div class="column">
                    <a class="button is-link" href="{{ path('app_emplacement_new') }}">
                        Créer un emplacement
                    </a>
                </div>
                <div class="column">
                    <a class="button is-link" href="{{ path('app_plant_new') }}">
                        Créer une fiche plante
                    </a>
                </div>
                <div class="column">
                    <a class="button is-link" href="{{ path('app_culture_new') }}">
                        Créer une nouvelle culture
                    </a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="columns has-text-centered">
                <div class="column">
                    <h2 class="title is-2">{{ total_emplacements }}</h2>
                    <h3 class="subtitle">emplacements</h3>
                </div>
                <div class="column">
                    <h2 class="title is-2">{{ total_size | round(1, 'floor') }} m2</h2>
                    <h3 class="subtitle">Surface totale cumulée</h3>
                </div>
                <div class="column">
                    <h2 class="title is-2">{{ total_cultures }}</h2>
                    <h3 class="subtitle">cultures pour cette année</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="columns has-text-centered">
                <div class="column">
                    <h2 class="title is-2">Cultures à semer</h2>
                    <table class="table is-striped is-fullwidth">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Quand?</th>
                            <th>Où?</th>
                            <th>Combien?</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for culture in coming_to_sow %}
                            <tr>
                                <td><a href="{{ path('app_culture_show', {'id': culture.id}) }}">{{ culture.Title }}</a></td>
                                <td>{{ culture.sowedAt ? culture.sowedAt|date('d-m-Y') : '' }}</td>
                                <td>{{ culture.emplacement.title }}</td>
                                <td>{{ culture.quantity }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">Pas de culture à semer.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="column">
                    <h2 class="title is-2">Cultures à repiquer</h2>
                    <table class="table is-striped is-fullwidth">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Quand?</th>
                            <th>Où?</th>
                            <th>Combien?</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for culture in coming_to_replant %}
                            <tr>
                                <td><a href="{{ path('app_culture_show', {'id': culture.id}) }}">{{ culture.Title }}</a></td>
                                <td>{{ culture.replantedAt ? culture.replantedAt|date('d-m-Y') : '' }}</td>
                                <td>{{ culture.emplacement.title }}</td>
                                <td>{{ culture.quantity }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">Pas de culture à repiquer.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="column">
                    <h2 class="title is-2">Cultures à récolter</h2>
                    <table class="table is-striped is-fullwidth">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date</th>
                            <th>Emplacement</th>
                            <th>Permanante?</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for culture in coming_to_harvest %}
                            <tr>
                                <td><a href="{{ path('app_culture_show', {'id': culture.id}) }}">{{ culture.Title }}</a></td>
                                <td>{{ culture.harvestedAt ? culture.harvestedAt|date('d-m-Y') : '' }}</td>
                                <td>{{ culture.emplacement.title }}</td>
                                <td>{{ culture.isPermanant ? 'Oui' : 'Non' }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">Pas de culture à récolter.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
