<form class="is-inline" method="post" action="{{ path('app_emplacement_delete', {'id': emplacement.id}) }}" onsubmit="return confirm('Confirmer la suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emplacement.id) }}">
    <button class="button is-warning">Supprimer</button>
</form>
