{% extends 'base.html.twig' %}

{% block title %}Editer Emplacement{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            {{ include('emplacement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            <a class="button" href="{{ path('app_emplacement_index') }}">Retour</a>

            {{ include('emplacement/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}
