{% extends 'base.html.twig' %}

{% block title %}Emplacements{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <table class="table is-striped is-fullwidth">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Taille (m2)</th>
                    <th>Orientation</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for emplacement in emplacements %}
                    <tr>
                        <td><a href="{{ path('app_emplacement_show', {'id': emplacement.id}) }}">{{ emplacement.title }}</a></td>
                        <td>{{ emplacement.description }}</td>
                        <td>{{ emplacement.size }}</td>
                        <td>{{ emplacement.orientation }}</td>
                        <td>
                            <a class="button is-info" href="{{ path('app_emplacement_edit', {'id': emplacement.id}) }}">éditer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Pas d'emplacement.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="button is-success" href="{{ path('app_emplacement_new') }}">Créer</a>

            {{ include('_garden.html.twig') }}
        </div>
    </section>
{% endblock %}
