{% extends 'base.html.twig' %}

{% block title %}Nouvel Emplacement{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">

            {{ include('emplacement/_form.html.twig') }}

            <a class="button" href="{{ path('app_emplacement_index') }}">Retour</a>
        </div>
    </section>
{% endblock %}
