{% extends 'base.html.twig' %}

{% block title %}Emplacement{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ emplacement.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ emplacement.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ emplacement.description }}</td>
                </tr>
                <tr>
                    <th>Taille (m2)</th>
                    <td>{{ emplacement.size }}</td>
                </tr>
                <tr>
                    <th>Orientation</th>
                    <td>{{ emplacement.orientation }}</td>
                </tr>
                <tr>
                    <th>Cultures</th>
                    <td><table class="table">
                            <tbody>
                            {% for culture in emplacement.cultures %}
                                <tr>
                                    <td><a href="{{ path('app_culture_show', {id: culture.id}) }}">{{ culture.title }}</a> - {{ culture.quantity }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

            <a class="button" href="{{ path('app_emplacement_index') }}">Retour</a>

            <a class="button is-info" href="{{ path('app_emplacement_edit', {'id': emplacement.id}) }}">Éditer</a>

            {{ include('emplacement/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}
