<form class="is-inline" method="post" action="{{ path('app_culture_delete', {'id': culture.id}) }}" onsubmit="return confirm('Confirmer la suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ culture.id) }}">
    <button class="button is-warning">Supprimer</button>
</form>
