{% extends 'base.html.twig' %}

{% block title %}Editer Culture{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            {{ include('culture/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            <a class="button" href="{{ path('app_culture_index') }}">Retour</a>

            {% if is_duplicate is not defined %}
                {{ include('culture/_delete_form.html.twig') }}
            {% endif %}

            {{ include('_garden.html.twig') }}
        </div>
    </section>
{% endblock %}
