{% extends 'base.html.twig' %}

{% block title %}Culture index{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <a class="button is-success" href="{{ path('app_culture_new') }}">Créer</a>
                </div>
                <div class="column">
                    <form action="{{ path('app_culture_index') }}" method="get">
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <!-- Left empty for spacing -->
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input id="search_needle" class="input" type="text" placeholder="Rechercher" name="needle">
                                    </p>
                                </div>

                                <div class="field">
                                    <div class="field-label">
                                        <!-- Left empty for spacing -->
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <button id="search_OK" class="button">
                                                    OK
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <table class="table is-striped is-fullwidth">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Emplacement</th>
                    <th>Semé le</th>
                    <th>Repiqué le</th>
                    <th>À récolter le</th>
                    <th>Permanante?</th>
                    <th>Quantité</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for culture in cultures %}
                    <tr {% if culture.isPermanant %}class="is-dark"{% endif %}>
                        <td><a href="{{ path('app_culture_show', {'id': culture.id}) }}">{{ culture.title }}</a></td>
                        <td><a href="{{ path('app_emplacement_show', {id: culture.emplacement.id}) }}"> {{ culture.emplacement.title }}</a></td>
                        <td>{{ culture.sowedAt ? culture.sowedAt|date('Y-m-d') : '' }}</td>
                        <td>{{ culture.replantedAt ? culture.replantedAt|date('Y-m-d') : '' }}</td>
                        <td>{{ culture.harvestedAt ? culture.harvestedAt|date('Y-m-d') : '' }}</td>
                        <td>{{ culture.isPermanant ? 'Oui' : 'Non' }}</td>
                        <td>{{ culture.quantity }}</td>
                        <td>
                            <a class="button is-info" href="{{ path('app_culture_edit', {'id': culture.id}) }}">éditer</a>
                            <a class="button is-warning" href="{{ path('app_culture_duplicate', {'id': culture.id}) }}">copier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Pas de culture.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
