{% extends 'base.html.twig' %}

{% block title %}Nouvelle Culture{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">

            {{ include('culture/_form.html.twig') }}

            <a class="button" href="{{ path('app_culture_index') }}">Retour</a>

            {{ include('_garden.html.twig') }}
        </div>
    </section>
{% endblock %}
