{% extends 'base.html.twig' %}

{% block title %}Culture{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <table class="table">
                <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ culture.title }}</td>
                </tr>
                <tr>
                    <th>Emplacement</th>
                    <td><a href="{{ path('app_emplacement_show', {id: culture.emplacement.id}) }}">{{ culture.emplacement.title }}</a></td>
                </tr>
                <tr>
                    <th>Plante</th>
                    <td><a href="{{ path('app_plant_show', {id: culture.plant.id}) }}">{{ culture.plant.name }}</a></td>
                </tr>
                <tr>
                    <th>Semée le</th>
                    <td>{{ culture.sowedAt ? culture.sowedAt|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Repiqué le</th>
                    <td>{{ culture.replantedAt ? culture.replantedAt|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>À récolter le</th>
                    <td>{{ culture.harvestedAt ? culture.harvestedAt|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Quantité</th>
                    <td>{{ culture.quantity }}</td>
                </tr>
                <tr>
                    <th>Culture permanante?</th>
                    <td>{{ culture.isPermanant ? 'Oui' : 'Non' }}</td>
                </tr>
                </tbody>
            </table>

            <a class="button" href="{{ path('app_culture_index') }}">Retour</a>

            <a class="button is-info" href="{{ path('app_culture_edit', {'id': culture.id}) }}">Éditer</a>

            {{ include('culture/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}
