<form class="is-inline" method="post" action="{{ path('app_plant_delete', {'id': plant.id}) }}" onsubmit="return confirm('Confirmer la suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plant.id) }}">
    <button class="button is-warning">Supprimer</button>
</form>
