{% extends 'base.html.twig' %}

{% block title %}Plantes{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <a class="button is-success" href="{{ path('app_plant_new') }}">Créer</a>
                </div>
                <div class="column">
                    <form action="{{ path('app_plant_index') }}" method="get">
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <!-- Left empty for spacing -->
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input id="search_needle" class="input" type="text" placeholder="Rechercher" name="needle">
                                    </p>
                                </div>

                                <div class="field">
                                    <div class="field-label">
                                        <!-- Left empty for spacing -->
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <button id="search_OK" class="button">
                                                    OK
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <table class="table is-striped is-fullwidth">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Variété</th>
                    <th>Type de culture</th>
                    <th>Info</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for plant in plants %}
                    <tr>
                        <td><a href="{{ path('app_plant_show', {'id': plant.id}) }}">{{ plant.name }}</a></td>
                        <td>{{ plant.variety }}</td>
                        <td>{{ plant.cultureType.value }}</td>
                        <td>{{ plant.info }}</td>
                        <td>
                            <a class="button is-info" href="{{ path('app_plant_edit', {'id': plant.id}) }}">éditer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Pas de plante.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
