{% extends 'base.html.twig' %}

{% block title %}Nouvelle Plante{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">

            {{ include('plant/_form.html.twig') }}

            <a class="button" href="{{ path('app_plant_index') }}">Retour</a>
        </div>
    </section>
{% endblock %}
