{% extends 'base.html.twig' %}

{% block title %}Plante{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ plant.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ plant.name }}</td>
                </tr>
                <tr>
                    <th>Varieté</th>
                    <td>{{ plant.variety }}</td>
                </tr>
                <tr>
                    <th>Type de culture</th>
                    <td>{{ plant.cultureType.value }}</td>
                </tr>
                <tr>
                    <th>Info</th>
                    <td>{{ plant.info }}</td>
                </tr>
                <tr>
                    <th>Emplacement</th>
                    <td><table class="table">
                            <tbody>
                            {% for culture in plant.cultures %}
                                <tr>
                                    <td><a href="{{ path('app_emplacement_show', {id: culture.emplacement.id}) }}">{{ culture.emplacement.title }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

            <a class="button" href="{{ path('app_plant_index') }}">Retour</a>

            <a class="button is-info" href="{{ path('app_plant_edit', {'id': plant.id}) }}">Éditer</a>

            {{ include('plant/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}
