<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar has-background-black-ter" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ path('app_home') }}">
                    Home
                </a>

                <a class="navbar-item" href="{{ path('app_emplacement_index') }}">
                    Emplacements
                </a>

                <a class="navbar-item" href="{{ path('app_plant_index') }}">
                    Plantes
                </a>

                <a class="navbar-item" href="{{ path('app_culture_index') }}">
                    Cultures
                </a>
            </div>
        </div>
    </nav>

        {% block body %}{% endblock %}
    </body>
</html>
